.conteneur-grid{
    display: grid;
    grid-template: 5rem 1rem 45rem 1fr/ 1fr 1fr 1fr ;
    grid-template-areas: 
    "entete     entete      entete"
    "filtres    filtres     filtres"
    "principal  principal   principal"
    "pied       pied        pied    ";

    justify-items: center;
    align-items: center;
    

}

body {
    background-image: url('images/sous-marin-italien.jpeg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
}

.entete{
    grid-area: entete;
    display: flex;
    justify-content: center;
    background-color: rgb(86, 7, 24);
    color: rgb(255, 255, 255);
    width:100%;
}

.navigation{
    grid-area: filtres;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(243, 191, 197);
    color: black;
    
}

.principal{
    grid-area: principal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:end;
    height: 30rem;
    width: 100%;
    
    
}

.pied{
    grid-area: pied;
    display: flex;
    justify-content: center;
    background-color: rgb(86, 7, 24);
    color: rgb(255, 255, 255);
    width: 100%;

}

h2{
    color: lightgreen;
}



.recette{
    flex-basis: 10rem;
}

article{
    width: 200rem;
    margin-right: 90px;
}
[class^=recetteA]{
    background-color: #fff; 
    padding: 20px; 
    border: 1px solid #ccc; 
    max-width: 600px; 
    margin: 20px auto; 
}

.img{
    width: 20rem;
    height:20rem;
    
}

#imgA{
    width: 24rem;
    height: 20rem;
    border: 5px solid black;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 11, 9, 0.2);
    border-radius: 10px;
}

#imgB{
    width: 20rem;
    height: 20rem;
    border: 5px solid black;
    box-shadow: 0 4px 8px rgba(0, 11, 9, 0.2);
    border-radius: 10px;
}

#imgC{
    width: 24rem;
    height: 20rem;
    border: 5px solid black;
    margin-right: 20px ;
    box-shadow: 0 4px 8px rgba(0, 11, 9, 0.2);
    border-radius: 10px;
}
