
.conteneur-grid{
    display: grid;
    grid-template: 5rem 1rem 45rem 1fr/ 1fr 1fr 1fr ;
    grid-template-areas: 
    "entete     entete      entete"
    "filtres    filtres     filtres"
    "principal  principal   principal"
    "pied       pied        pied    ";

    justify-items: center;
    align-items: center;
    

}

.entete{
    grid-area: entete;
    display: flex;
    padding: 20rem;
    justify-content: center;
    background-color: rgb(86, 7, 24);
    color: rgb(255, 255, 255);
    width:100%;
}





.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e8b7b7;
}

.navigation section {
    margin: 10px;
}

 .Etape {
    margin-top: 20px;
}


.pied {
    background-color: rgb(86, 7, 24);
    color: white;
    text-align: center;
    margin: 10px;
}












