.conteneur-grid{
    display: grid;
    grid-template: 5rem 1rem 50rem 1fr/ 1fr 1fr 1fr ;
    grid-template-areas: 
    "entete     entete      entete"
    "filtres    filtres     filtres"
    "principal  principal   principal"
    "pied       pied        pied    ";

    justify-items: center;
    align-items: center;
    

}

.entete2{
    grid-area: entete;
    display: flex;
    justify-content: center;
    background-color: rgb(86, 7, 24);
    color: rgb(255, 255, 255);
    width:100%;
}

body {
    background-image: url('images/ecran.jpg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
}


.navigation2{
    grid-area: filtres;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(243, 191, 197);
    color: black;
   
  
}


.navigation2 section {
    margin: 10px;
}

.principal2 {
    grid-area: principal2;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
   
}

.description-plat img {
    width: 42rem;
    height:35rem;
    border-radius: 10px;
}

.description-plat {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content:start;
    margin-bottom: 3rem;
    font-size: large;
    
}

.recette-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    width: 50rem;
    
    
    border-radius: 10px;
}

.titrePlat {
    font-size: xx-large;
    color: rgb(208, 157, 157);
    margin: 15px;
    text-decoration: underline;
}


.pied{
    grid-area: pied;
    display: flex;
    justify-content: center;
    background-color: rgb(86, 7, 24);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px;
     
}

.tableau {
    width: 50%;
    border-radius: collapse;
    margin-bottom: 5rem;
}

.tableau th, .tableau td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
    border-radius: 10px;
    

}


 .Etape {
    background-color: #f5efef; 
    padding: 20px 20px; 
    border: 1px solid #ccc; 
    width: 80%;
    margin-left: 30px;
    margin-bottom: 10rem;
    margin-right: 0px;
    margin-top: 12px auto; 
    border: 2px solid #514f4f;
    border-radius: 10px;
    display: block;
    
}

h2{
    color: rgb(92, 11, 11);
}



.recette{
    flex-basis: 10rem;
}

article{
    width: 200rem;
    margin-right: 90px;
}

.recette{
    background-color: #f5efef; 
    padding: 20px; 
    border: 1px solid #ccc; 
    max-width: 600px; 
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-top: 12px auto; 
    border: 2px solid #514f4f;
    border-radius: 10px;
}

.recette image {
    max-width: 100%; 
    display: block; 
    margin-bottom: 10px; 
}

.img{
    width: 20rem;
    height:20rem;
   
}

#lesImages{
    width: 24rem;
    height: 20rem;
    border: 5px solid black;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 11, 9, 0.2);
    border-radius: 10px;
}

































